
aiohttp>=3.6.2
requests==2.23.0
botbuilder-core>=4.13.0
certifi>=2017.4.17
chardet>=3.0.2,<4
idna>=2.5,<3
urllib3>=1.21.1,<1.26,!=1.25.1,!=1.25.0

botframework-connector>=4.13.0
botbuilder-schema>=4.13.0
botbuilder-dialogs>=4.13.0
botbuilder-ai>=4.13.0
botbuilder-applicationinsights>=4.13.0
botbuilder-integration-applicationinsights-aiohttp>=4.13.0
datatypes-date-time>=1.0.0.a1
azure-cognitiveservices-language-luis==0.2.0
msrest==0.6.10
